<footer>
  <div class="footer">
    <div class="divTop">
      <p class="text">
        My Log
        <br />
        Travels
      </p>

      <div>
        <p class="p">Quick links</p>
        <div class="list">
          <ul class="link">
            <li class="link__links">Home</li>
            <li class="link__links">About Us</li>
            <li class="link__links">My Travel Logs</li>
          </ul>
          <ul class="link">
            <li class="link__links">Travels</li>
            <li class="link__links">PromoFlights</li>
            <li class="link__links">Travel Routes</li>
          </ul>
          <ul class="link">
            <li class="link__links">Recommendations</li>
            <li class="link__links">Guides</li>
            <li class="link__links">Blogs</li>
          </ul>
          <ul class="link">
            <li class="link__links">Mission Statement</li>
            <li class="link__links">The Team</li>
            <li class="link__links">Contact Us</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="divBottom">
      <p>2021 - 2022 MyLogTravels. AllRights Reserved.</p>
    </div>
  </div>
</footer>
