$font-family-base: "Lato", sans-serif;
$font-size-header: 21px;
$color-escura: #232323;
$color-clara: #e9e7e7;

header {
  background-color: $color-clara;
  .header {
    padding: 50px 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: $font-family-base;
    &__link {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      color: $color-escura;
      font-size: $font-size-header;
      gap: 40px;

      // &__links:hover {
      //   font-size: 25px;
      // }
    }

    &__button {
      cursor: pointer;
      width: 215px;
      height: 54px;
      border-radius: 5px;
      background-color: $color-clara;
      border: 3px solid #232323;
      font-size: $font-size-header;
      letter-spacing: -1px;
      color: $color-escura;
      font-weight: 900;
      text-align: center;
    }
  }
}
