<div class="home">
  <div class="destination">
    <div class="text">
      <p class="title">
        Travel to
        <br />
        your dream
        <br />
        destination
      </p>
      <p class="subtitle">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        <br />
        Error aut numquam inventore, eligendi asperiores temporibus distinctio.
        <br />
        Minus, exercitationem assumenda perspiciatis, dolor animi saepe non.
      </p>

      <button class="button-reserve">Reserve Ticket</button>
    </div>

    <img
      src="../../../assets/img/img-montanhas.svg"
      style="width: 50%"
      alt=""
    />
  </div>

  <div class="anywhere">
    <div class="text">
      <p class="title">
        Choose anywhere
        <br />
        you'd like to be
      </p>
      <div class="card1" *ngFor="let card of cardsC">
        <p *ngIf="card.show" class="subtitle">
          <br />
          <b class="title-anywhere">{{ card.title }}</b>
          <br />
          {{ card.content }}
        </p>
      </div>
    </div>
    <img src="../../../assets/img/img-homem.svg" style="width: 45%" alt="" />
  </div>

  <div class="depositions">
    <p class="title">
      Here's what they
      <br />
      have to say...
    </p>
    <div class="carousel">
      <button (click)="prev()" [disabled]="currentIndex === 0">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path
            fill="currentColor"
            d="M14.59 7.41L10.17 12l4.42 4.59L12.17 18l-6-6 6-6 1.42 1.41z"
          />
        </svg>
      </button>

      <div *ngIf="carouselData" class="cards-container">
        <div *ngFor="let slide of carouselData" class="card">
          <img src="../../../assets/img/person.png" alt="{{ slide.title }}" />
          <h2>{{ slide.title }}</h2>
          <p>{{ slide.content }}</p>
        </div>
      </div>

      <button (click)="next()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path
            fill="currentColor"
            d="M9.41 16.59L13.83 12 9.41 7.41 10.83 6 15.41 10.59 16.83 12 15.41 13.41 10.83 18z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
