@import "../../../styles";

.home {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-white;

  .destination {
    max-width: 1200px;
    padding: 0px 200px 30px 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    .text {
      .title {
        font-size: 80px;
        letter-spacing: -2px;
        line-height: 80px;
        color: $color-black;
        font-weight: 700;
        font-family: $font-family-title;
      }

      .subtitle {
        max-width: 85%;
        margin-top: 10px;
        font-size: 17px;
        letter-spacing: 0px;
        font-weight: 400;
        font-family: $font-family-base;
        text-align: left;
      }

      .button-reserve {
        cursor: pointer;
        width: 256px;
        height: 54px;
        border-radius: 5px;
        background-color: $color-black;
        margin-top: 40px;
        font-size: $font-size-base;
        letter-spacing: -1px;
        color: $color-white;
        font-weight: 900;
        font-family: $font-family-base;
        text-align: center;
      }
    }
  }

  .anywhere {
    max-width: 1400px;
    padding: 50px 0px 50px 200px;
    // padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-black;

    .card1 {
      margin-top: 10px;
    }

    .title-anywhere {
      font-size: 20px;
      margin-bottom: 10px !important;
    }

    .text {
      .title {
        margin-bottom: 50px;
        font-size: 55px;
        letter-spacing: -1px;
        line-height: 55px;
        color: $color-white;
        font-weight: 700;
        font-family: $font-family-title;
      }

      .subtitle {
        color: $color-white;
        max-width: 70%;
      }
    }
  }

  .depositions {
    max-width: 1400px;
    padding: 0px 180px 20px 180px;
    margin-bottom: 20px;

    .title {
      margin-top: 40px;
      margin-bottom: 30px;
      font-size: 75px;
      letter-spacing: -2px;
      line-height: 81px;
      color: $color-black;
      font-weight: 700;
      font-family: $font-family-title;
      text-align: center;
    }
  }
}

// CSS Carousel
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .cards-container {
    display: flex;
    overflow: hidden;
    width: 100%;
  }

  .card-wrapper {
    display: flex;
    transition: transform 0.5s ease; /* Adiciona transição para suavizar a mudança de slides */
  }

  .card {
    cursor: pointer;
    flex: 0 0 31.5%; /* Ajustado para mostrar 3 cards por vez */
    margin: 0 8px;
    box-sizing: border-box;
    text-align: center;
    border: 3px solid $color-black;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
  }

  button {
    background-color: $color-white;
    border: none;
    color: $color-black;
    font-weight: 900;
    border: 3px solid $color-black;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 4px;
  }

  button:disabled {
    background-color: $color-white;
    cursor: not-allowed;
  }
}

.cards-mobile {
  display: none;
}

.title-card {
  font-family: $font-family-base;
  color: $color-black;
  font-weight: 900;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
}

.subtitle-card {
  font-size: 14px;
  letter-spacing: 0px;
  color: #6d6d6d;
  font-weight: 400;
  font-family: $font-family-base;
  text-align: center;
}

@media (max-width: 1200px) {
  .card {
    cursor: pointer;
    flex: 1 0 95% !important;
    max-width: 230px;
  }
  .home,
  .anywhere,
  .destination,
  .depositions {
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    padding: 30px 0px !important;
  }

  img {
    width: 100% !important;
    max-width: 660px;
    margin-top: 20px;
  }

  .title {
    padding: 10px;
  }
  .depositions {
    .title {
      font-size: 50px !important;
    }
  }

  .destination {
    .text {
      .title {
        font-size: 70px !important;
      }
    }
  }

  .text {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .subtitle {
    max-width: 100% !important;
    padding: 10px;
  }

  .card {
    padding: 10px 0px;
  }
}

@media (max-width: 877px) {
  .carousel {
    display: none;
  }

  .cards-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .cards-container {
      .card {
        margin-bottom: 30px !important;
        cursor: pointer;
        margin: 0 8px;
        box-sizing: border-box;
        text-align: center;
        border: 3px solid $color-black;
        border-radius: 10px;
        padding: 25px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
